.homepagePopular {

    h2 {
        margin: 3rem 1rem;
    }

    .homepagePopularMovies {

        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr);
        gap: 3rem 0;


        .homepagePopularMoviesMovie {
            margin: 0 1rem;


                img {
                    width: 100%;
                }


            p {
                font-size: 1.7rem;
                margin-top: 0.5rem;
            }

            .genreLinkWrap {
                margin-top: 1rem;

                display: flex;
                flex-flow: row wrap;
                // justify-content: space-between;

                .homepageGenres {
                    display: inline-block;
                    margin-right: 1rem;
                    font-size: 1rem;
                    text-decoration: none;
                }
            }
        }
    }
}

@media (min-width: 50rem) {
    .homepagePopular {

        .homepagePopularMovies {
            grid-template-columns: repeat(auto-fill, 30%);
            justify-content: space-between;
        }
    }
}

@media (min-width: 70rem) {
    .homepagePopular {


        .homepagePopularMovies {
            grid-template-columns: repeat(auto-fill, 25%);
            justify-content: space-between;

            .homepagePopularMoviesMovie {

                p {
                    font-size: 1.5rem;
                }
            }

        }
    }
}