.linkAndMovieDetailContent {
    background: #00000044;
    color: #fff;
    padding: 0 1rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        margin: 3rem 0;
    }

    button {
        background: #00af00;
        color: #fff;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        border: none;
        border-radius: 3px;
        width: 100%;
    }
}