.linkAndMovieDetailContent {
    background: #00000044;
    color: #fff;
    padding: 0 1rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        margin: 3rem 0;
    }

    button {
        background: #00af00;
        color: #fff;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        border: none;
        border-radius: 3px;
        width: 100%;
    }
}
.formMovieRating {
    padding: 0;
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    // justify-content: space-between;

    label {
        margin: 0;
        margin-right: 0.5rem;
        font-size: 1.2rem;
    }
    input {
        margin-right: 1rem;
    }
}

.reviews {
    h2 {
        margin: 0 1rem;
        margin-bottom: 3rem;
    }
}

.reviewContainer {
    background: #f1f1f1;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;

    span {
        display: block;
    }
}

@media (min-width: 70rem) {
    .reviews{
        
        h2 {
            margin-left: 0;
        }
    }
}