.footerSocialsAndNewsletter {

    .footerIconWrap {
        // background: red;
        margin-top: 2rem;
        padding: 0 1rem;

        display: flex;
        justify-content: space-between;

        svg {
            transform: scale(3);
            // margin: 1rem;
        }
    }
}

@media (min-width: 70rem) {
    .footerSocialsAndNewsletter{
        flex: 1;
        margin-right: 4rem;
        
    }
}